/* foglio di stile */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
}

main , header{
  width:100%;
}

header{
  background-color: rgb(12,50,90);
}

#header-layout , #container-up, #container-down{
  margin: 0 auto;
  height: 400px;
}


#navbar{
  width: 90%;
  margin: 0 auto;
  background-color: rgb(12,50,90);
}

.logo , .menu-company, .menu-user{
  text-align: center;
  float:left;
}

.menu-company{
  width: 50%;
}

.logo{
  text-align: center;
  width: 10%;
}

.menu-user{
  width: 40%;
}

.menu-company ul li, .menu-user ul li{
  text-align: center;
  display: inline-block;
  height:40px;
  line-height: 40px;
  margin-left: 10px;
}

.menu-company ul li a, .menu-user ul li a{
  text-decoration: none;
  display: block;
  padding: 0 15px;
  color: white;
}

.button{
  font-size: 10px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

.button.green{
  background-color: #4CAF50;
  border: none;
}


#navbar::after{
  display: table;
  content: "";
  clear: both;
}

.claim{
  line-height: 50px;
  width: 30%;
  position: relative;
  top:30%;
  left:20%;
}

h1{
  font-size: 30px;
  color: white;
  font-weight: normal;
}

h2{
  font-size: 20px;
}

h4{
  font-size: 14px;
}

.grigio{
  color: #8c8987;
}


.bottom{
  padding: 50px 0;
  text-align: center;
  height:150px;
  width:100%;
  background-color: #d6d4d3;
  line-height: 25px;
}

#header-layout{
  background-image: url("../img/fluentify-jumbo.png");
  background-size: contain;
  background-position: bottom;
  background-color: rgb(12,50,90);
}








.container-up::after{
  display: table;
  content: "";
  clear: both;
}
